 body{
    margin: 0;
    padding: 0;
    background-color:   whitesmoke; 
    font-family: sans-serif;
 }
.flex-container{
 
 height: 100vh;
 
 } 
 .content{
   display: flex;
   flex: 2;
 }
 .home {
  flex: 1;
  
}
.dashboard-container{
   background-color: #c5d4e9;
    padding: 10px 12px;
}
 
   .dashboard-container-second{
           background-color: whitesmoke;
          height: 674px;
          width: 100%;
          border-radius: 36px;
   }
 .sidebar-responsive{
    display: inline !important;
    position: absolute;
    z-index: 12 !important;
        
}
 